/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
}
body.html { 
	background: url('/sites/default/files/about.jpg'); 
  	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#page {
	max-width:100%;
	background-image:url('/sites/all/themes/morassociates/images/pattern.png');
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #3A77B5;
    outline:0;
  }
}

/*
 * Header
 */

#header {
	background-color:#000; 
	height:70px; 
	position:fixed;
	z-index:3;
	width:100%;
}

#logo { /* Wrapping link for logo */
  position:absolute;
  top:20px; left:0px;

  img {
    vertical-align: bottom;
  }
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;

  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

#main {
	max-width:1000px;
	margin:0px auto 0px auto;
	border-top:33px $light-blue solid; 
	padding:0px;
	color: $text-gray;
	background-image:url(../images/main_bk2.png);
	background-repeat: repeat-y;
	/* Fallback for web browsers that doesn't support RGBa */
	/* background: rgb(0, 0, 0); */
	/* RGBa with 0.7 opacity */
	/* background: rgba(0, 0, 0, 0.7); */
	/* For IE 5.5 - 7*/
	/* filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2000000, endColorstr=#b2000000); */
	/* For IE 8*/
	/* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2000000, endColorstr=#b2000000)"; */

}

/*
 * Content
 */

#content {
	padding-top:20px;
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
  font-weight: normal;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
	color:#fff;
	padding-top:35px;
	/*
	width:18%;
	margin-right:18%;
	padding:18px;
	*/
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
	background-color:#fff;
	padding-top:50px;
	@include resize-text(11px);
	.quote, .field-name-field-quote { line-height:18px; font-weight:bold; }
}

/*
 * Footer
 */

#footer {
	background:none;
	height:auto;
	overflow:hidden;
	color:$text-gray;
	position:relative;
	max-width:1000px;
	margin:0px auto;
	background-image: url("../images/main_bk2.png");
	background-repeat:repeat-y;
	padding:0px;
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
	margin-top:0;
	background-color:#000;
	height:30px;
	overflow:hidden;
	color:#999;
	font-size: $size11-font;
	div { max-width:1000px; margin:5px auto; }
	p { margin:0px; }
	max-width:100%; 
}

/* MOR ASSOCIATES STYLES */
#subhead { 
	min-height:188px; max-width:1000px; margin:0px auto; position:relative; z-index:2; padding-top:70px;
}
.field-collection-view { padding:0px; margin:0px; }

/* input text styles */
.quote:before {  }
.quote:after {  }
p.caption { margin-top:0; }
.btn, a.btn { background-color:$dark-blue; color:#fff; border:none; border-radius:10px; padding:10px 15px; margin-right:1em; font-size:1.5em;
	display:inline-block; }
.media-callout { 
	padding:20px 0px; border-top:$border-gray; @include resize-text(11px); 
	.media-element { max-width:345px; float:right; padding-left:10px; }
	.field-name-field-file-image-title-text { font-weight:bold; }	
}
.separator { padding:20px 0px 0px 0px; border-top:$border-gray; }
#block-mor-menu-list-mor-section-block { height:188px; font-size:144px; line-height:95px; display:table-cell;
	font-family: $gp-light; zoom: 1; color:#fff; margin:0px;
	filter: alpha(opacity=40); opacity: 0.4; vertical-align: bottom; }
#header .inner { max-width:1000px; 	margin:0px auto; position:relative; }
h1.title { color:$text-blue; }
.region-sidebar-first .menu { 
	margin:0px; padding:0px; 
	li {
		font-weight:bold; 
		font-size: $size11-font;
		margin:0px 0px 5px 0px;
		list-style: none;
		a:link, a:visited { color:#fff; }
		a:focus, a:hover, a.active { color:$light-blue; }
		ul { display:none; }
		li { font-weight:normal; margin-left:10px; }
	}
	li.expanded > a:after { content:" +"; }
	li.active-trail { 
		> a:after { content:""; }
		ul { display:block; }
	}
}

#content .inner { padding-bottom:20px; margin-bottom:0px; position:relative; }
.two-sidebars #content, .sidebar-second #content {
	padding-right:0px;
	.inner { border-right:$border-gray; padding-right:20px;  }
}
#block-block-5 { /* bottomlinks */
	position:relative; height:50px; font-size: $size11-font; margin-bottom:20px; margin-left:180px; padding:0px 20px;
	.addthis_toolbox { height:16px; }
	#anchor-top { margin-top:20px; 
		a { font-weight:bold; }
	}
}
#block-menu-block-1 { 
	h2.block-title { font-size:$size11-font; font-weight:bold;  
		a:link, a:visited { color:#fff; }
		a:focus, a:hover, a.active { color:$light-blue; }
	}
}
#block-menu-block-2 { 
	position:relative; bottom:0px; height:20px; margin:0px 0px 20px 180px; padding:0px 20px;
	.menu { 
		margin:0px; padding:0px; list-style: none; 
		li { float:left; margin:0px 10px 0px 0px; padding:0px; }
		a, a:visited, li a.active { font-size:$size11-font; color:#999; }
		
	}
}

/* no sidebars */
.no-sidebars, .sidebar-second {
	#main, #footer { background-image:none; background-color:#fff; }
	#block-block-5, #block-menu-block-2 { margin-left:0px; }
}
/* MEDIA thumbnails */
#block-views-media-thumbnails-block { 
	border-top:$border-gray; 
	.block-title { padding:10px 0px; }
}
.view-media-thumbnails .item-list {
	@include resize-text(11px);
	ul { margin:0px; list-style:none; width:100%;  padding:0px; }
	li { margin:0px; float:left; width:auto; position:relative; padding-right:10px;
		div {  }
	}
	.field-name-field-file-image-title-text { font-weight:bold; }
	li.views-row-last { padding:0px; }
	img { width:auto;  }
	/* img:after { content:"this"; top:50%; left:50%; position:absolute; display:block; } */
	a, a.active { color:$text-gray; }
	ul.count1 li { width:100%;  margin:0px;
		img { max-width:345px; display:block; float:left; padding-right:10px; }
		.field-type-text { float:left; width:140px;  /* left:360px; bottom:0px; */ }
	}
	ul.count2 li { width:49%; 
		img { max-width:247px; }
	}
	ul.count3 li { width:32%; 
		img { max-width:162px; }
	}
	
}

/* Team List Block */
#block-views-mor-team-list-block { 
	font-size:$size12-font; font-weight:bold; margin-left:40px;
	.view-header { margin-bottom:20px; }
	.item-list ul { list-style:none; margin:0px; padding:0px; 
		li { margin:0px 0px 5px 0px; padding:0px; }
	}
}

/* Team Member Detail */
.page-about-team #page-title { display:none; }
.view-mor-member-detail, .page-user {
	.views-field-picture, .user-picture { float:left; margin-right:20px; }
	.views-field-field-last-name { margin-bottom:20px; }
	.views-field-field-user-title, .field-name-field-user-title { font-weight:bold; }
}

/* sidebar quote styles */
.view-client-quotes .views-field-field-client-logo { text-align: center; margin-bottom:30px; }
.field-name-field-quote-attribute { margin-top:1em; font-weight: bold; }

/* case study styles */
#block-views-case-study-block { border-top: 14px #B7D1EB solid; border-bottom: 14px #B7D1EB solid; }
#block-views-case-study-block .field { margin-bottom:1em; }

/* blog section styles */
body.page-blog, body.node-type-blog, body.page-taxonomy, body.page-insight-search, body.page-insight, body.page-archive {
	background: #999; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#ffffff'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#fff)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #999,  #fff); /* for firefox 3.6+ */
	#page { background:none; }
	#main, #footer {
		-webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.20);
    	-moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.20);
    	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.20);
    	margin-top:0px;
    	background-color:#fff;
    	background-image:none; 
	}
	#footer { 
		background-image:none; background-color:#fff; 
		-webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.20);
    	-moz-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.20);
    	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.20);
	}
	#subhead { 
		.region-sub-head { position:absolute; bottom:-14px; }
	}
	
	#content .inner {
		margin-left:150px; padding-left:20px; border-left:$border-gray; margin-bottom:20px;
		article { position:relative; border-bottom:$border-gray; }
		.node { position:relative; }
		.blog-left-sidebar { position:absolute; left:-150px; top:25px; @include resize-text(11px); }
		
		.submitted { font-weight:bold; margin:5px 0px; color:$light-gray; @include resize-text(11px); }
		.comment-author { margin-bottom:1em; @include resize-text(11px); }
		article.comment {
			padding-top:1em; border-top:$border-gray;
			.blog-left-sidebar { 
				display:block; left:-170px; top:1em; 
				span { display:block; }
				.commenttime { color:$light-gray; }
			}
		}
		.node-teaser {
			img { width:143px; float:left; padding-right:20px; }
			.user-picture, .field-name-field-post-icon { 
				display:block; 
				img { width:auto; }
			}
		}
		.view-insight {
			.views-row { position:relative; }
			.blog-left-sidebar { top:0px; }
		}
	}
	#navigation { top:-123px; }
	#block-block-3 { 
		vertical-align: bottom;
		height:105px; color:#fff; font-family: $gp-light; display:table-cell;
		.header { float:left; padding-right:20px; }
		.dark { color:$text-gray; }
		.tagline { float:left; font-family: $gp-book; }
	}
	.readmore { font-family:$georgia; margin-bottom:1em; font-style:italic; clear:left; }
	h3.series { display:inline-block; color:#fff; margin:0px; font-size:11px; font-weight:normal; margin-bottom:10px;
		text-transform:uppercase; background-color:$text-gray; letter-spacing:1px; padding:0px 10px; }
	.field-name-field-series { display:none; }
	.field-name-field-categories { @include resize-text(11px); }
	.field-label { font-weight:normal; }
	.field-name-body p { margin-top:0px; }
	h2.node-title, h1.title { 
		font-size:25px; color:$text-gray; line-height:1em; letter-spacing:-1px; margin-top:5px; margin-bottom:1em;
		a, a:link, a:visited { color:$text-gray; }
	}
	.region-sidebar-second {
		h2.block-title { @include resize-text(10px); text-transform: uppercase; letter-spacing: 1px; font-weight:bold; }
		.item-list ul { margin:0px; padding:0px; list-style: none;}
	}
}


.node-type-blog #content .inner {
	.node {
		position: initial;
		.submitted { display:none; }
		.blog-left-sidebar { 
			top:0px; 
			.user-picture { display:block; }
		}
	}
}
.page-blog {
	h1.title { display:none; }
	#content .inner .blog-left-sidebar { left:-170px; }
}
/* comment form */
form.comment-form {
	background-color:#f0f0f0; padding:20px; position:relative; @include resize-text(11px);
	.form-item { margin:0px 0px 7px 0px; width:50%;  }
	.field-name-comment-body { position:absolute; right:0px; top:20px; width:50%;
		.form-item { width:90%; }
	}
	label {  font-weight:normal; }
	.form-wrapper { 
		margin-bottom:5px; 
		input[type=text] { width:80%; }
	}
	.form-actions { clear:left; padding-top:1em; }
	input[type=submit] { background-color:$dark-blue; color:#fff; border:none; border-radius:10px; padding:5px 10px; margin-right:1em; }
	.form-item-homepage { display:none; }
}

/* home page styles */
body.front { background-position: center 40px; }
.front { 
	
	h1.title { display:none; }
	#subhead .region-sub-head { display:table; min-height:500px; }
	#block-block-4 { 
		position:absolute; bottom:0px; left:0px; background-color:$light-blue; padding:5px 0px; float:none; 
			width:100%; margin:0px; border:none; font-family: $gp-bold; @include resize-text(14px); color:#000;
		ul { margin:0px; padding:0px 0px 0px 20px; }
		li { float:left; margin:0px 25px; padding-left:25px; }
		li.first { list-style: none; margin-left:0px; padding-left:0px; }
		li.last { margin-right: 0px;  }
	}	
	.light, a .light { color:#fff; }
	.dark, a .dark { color: #000; }
	a:hover .dark { color:#fff; }
	#main {
		background:none; 
		border:none; 
		zoom: 1;
		filter: alpha(opacity=0);
		opacity: 0.0;
	}
	#content { 
		background:none; @include resize-text(12px); position:relative; bottom:0px; 
		/* Fallback for web browsers that doesn't support RGBa */
		background: rgb(255, 255, 255);
		/* RGBa with 0.7 opacity */
		background: rgba(255, 255, 255, 0.9); 
		/* For IE 5.5 - 7*/
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2ffffff, endColorstr=#b2ffffff); 
		/* For IE 8*/
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2ffffff, endColorstr=#b2ffffff)"; 	
		.inner { padding-top:0px; padding-bottom:0px; margin-bottom:0px; }
		.block { 
			float:left; margin-right:20px; width:30%; padding-right:20px; border-right:$border-gray; 
			h2.block-title { @include resize-text(14px); text-transform: uppercase; color:#333; font-weight:bold; margin-bottom:1em; }
			.views-row { margin-bottom:1em; }
			.view-footer a:after { content: ' >>'; }
		}	
		#block-block-2 { padding:0px; border:none; margin:0px; }
		

	}
	#bottomlinks, #block-menu-block-2 { display:none; }
	#block-views-homepage-maxim-block, #block-views-homepage-maxim-block-1 { 
		display:table-cell; vertical-align:middle;
		margin:0px; 
		width:1000px;
		padding:100px 0px;
		p { margin:0px; }
		.view-homepage-maxim { 
			position:relative; min-height:230px;
			.item-list, .view-footer {
				position:absolute; width:100%; margin-top:20px; top:200px;
				.pager-item, .pager-current { 
					background-image:url(../images/pager_item_bk.png); background-repeat: no-repeat; 
						height: 10px; width: 10px; overflow: hidden; padding: 0px; display: inline-block; 
					a  { visibility:hidden;  }
				}
				.pager-current { background-position: 0px -10px; font-size:1px; color:#fff; display:none; }
				.pager-previous a, .pager-next a { font-family:$gp-light; font-size:70px; color:#fff; outline:0;  }
				.pager-previous, .pager-next { position:absolute; top:10px; }
				.pager-previous { left:0px; }
				.pager-next { right:0px; }
				.ajax-progress .throbber  { position:absolute;  }
				
			}
			
			li.views-row { display:none; list-style: none; padding:0px; margin:0px; }
			li.views-row-1 { display:block; }
			.views-field-field-background-image { display:none; }
		}
		.views-field-field-maxim-header { font-size:84px; line-height:85px; color:#fff; font-family:$gp-bold; }
		.views-field-field-maxim-subheader { font-size:22px; line-height:25px; color: #fff; font-family: $gp-book; margin-top: 10px; margin-left:100px; }
		.views-field-field-maxim-subheader p {  background-color: #000; display: inline-block; padding: 5px 20px; }
	}
	#navigation { top:-180px; }
}

/* Contact Form */
.form-wrapper {
	.form-item {
		label { @include resize-text(11px); font-weight:normal; }
		input[type=text], input[type=email], input[type=password] { border:$border-gray; width:90%; }
	}
}
.webform-client-form {
	fieldset { width:48%; padding:0px; border:none; float:left; }
	.webform-component-markup { font-style:italic; }
}
#block-block-6 { 	/* contact info left block */
	font-size:$size11-font; line-height:24px; font-weight:bold; 
	p { margin-top:Opx; }
}

.section-gallery { 
	background-image: none; 
	#page { background:none; }
	#gallery-content {
		h1.title { display:none; }
		h2 { margin:0px; }
	}
}

.view-photo-albums {
	.views-view-grid {
		margin-top:0px;
		tr { padding-bottom:10px; }
		td { padding-right:10px; }
	}
}

#galleriffic {
	margin:0px auto; 
	#slideshow-container { width:100%; }
	#caption { float:none; width:100%; clear:both; }
}

/* clients section */
.view-client-list {
	.views-exposed-form {
		.views-exposed-form label { font-weight:normal; display:inline-block; }
		.views-widget { display:inline-block; }
	}
}

/* mobile footer block */
#block-block-7 { 
	display:none; 
	.social-media {
		border-bottom: $border-gray; padding-bottom:10px; 
		img { display:inline-block; margin-right:5px; }
	}
	.location { font-family: $gp-bold; }
	.copyright { color:$light-gray; }	
}

/* insight fb section */
.page-insight-fb {
	#main { width:760px; }
	#content { width:100%; }
}

/* search results page */
.page-search-mor {
	.search-result { 
		border-bottom:1px $text-gray solid;
		.search-info { display:none; }
	}
}

/* client portal section */
.node-type-client-portal, .node-type-portal-content, .node-type-portal-workshop, .section-portal {
	background: none !important;
	#page {
		background: none;
		background-color: #e2e4e6;
		#subhead {
			position: relative;
			max-width: 100%;
			padding: 70px calc((100% - 1000px) / 2) 0;
			background-image: url(../images/portal_background.jpg);
			background-size: cover;

		}
	}
	#main {
		border: none;
		max-width: 100%;
		background: none;
		.region-sidebar-first, .region-sidebar-second {
			color: #666;
			background: none;
		}
		.tabs-primary {
			padding-top: 60px;
		}
		.block.block-menu-block {
			z-index: 2;
			position: absolute;
			top: 0;
			width: calc(100% - 40px);
			padding: 0;
			margin: 0;
			background: none;
			border-bottom: 1px #bbb solid;
			.menu {
				padding: 0;
				margin: 0;
				list-style: none;
				li {
					float: left;
					padding: 0;
					margin: 0 10px 10px 0;
					color: #408cda;
					&:after {
						content: "|";
						padding-left: 10px;
					}
					&.last:after {
						content: "";
					}
					a {
						font-weight: bold;
						color: #408cda;
						&.active-trail {
							color: #666;
						}
					}
					&.is-expanded {
						margin-bottom: 30px;
					}
					ul {
						position: absolute;
						left: 0;
						bottom: 0;
						font-size: .875em;
						li {
							margin: 0 1px 0 0;
							&:after {
								display: none;
							}
							a {
								display: block;
								color: #fff;
								background-color: #408cda;
								padding: 4px 10px;
								border-radius: 10px 10px 0 0;
								&.active {
									color: #fff;
									background-color: #666;
								}
							}
						}
					}
				}
			}
		}
		.block-views, .block, .view-display-id-page, .node, .view-mor-member-detail {
			margin: 20px 0;
			background-color: #fff;
			padding: 10px 20px;
			.node {
				margin: 0 0 20px 0;
				padding: 0;
			}
			.item-list {
				ul {
					margin: 0;
					padding: 0;
				}
			}
			.views-row {
				margin-bottom: 10px;
			}
			.views-field-title {
				font-weight: bold;
				display: block;
			}
			.block-title, .field-name-title h2, .field-name-full-name {
				padding: 10px 20px 20px 20px;
				margin: -10px -20px;
				line-height: normal;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b9dcfa+0,ffffff+100 */
				background: #b9dcfa; /* Old browsers */
				background: -moz-linear-gradient(top, #b9dcfa 0%, #ffffff 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, #b9dcfa 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, #b9dcfa 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9dcfa', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
				font-weight: bold;
				font-size: 1.25rem;

			}
			.view-content {
				h2, h3 {
					line-height: normal;
					font-size: 1.25em;
					margin: 0 0 10px 0;
				}
				p {
					margin-top: 1px;
				}
				.item-list, .views-list {
					margin-bottom: 10px;
					ul {
						list-style: none;
					}
					h3 {
						font-size: 1rem;
					}
				}
				.field-collection-view {
					border-bottom: 1px #D3D7D9 solid;
					margin-bottom: 1em;
				}
			}
			.upcoming-dates {
				h3 {
					margin-bottom: 0;
				}
			}
			.workshop-list {
				.views-row {
					margin-bottom: 10px;
				}
				.views-field-title {
					font-weight: bold;
				}
			}
			.field-name-field-portal-logo {
				float: right;
			}
			.field-name-field-client-reference {
				margin-top: 10px;
				@include clearafter;
				.field-items .field-item {
					float: left;
					margin-right: 10px;
					width: 50px;
					.node {
						background: none;
						margin: 0;
					}
				}
			}
		}
		.view-mor-member-detail {
			.field {
				&.field-label-above .field-label {
					margin-top: 1em;
				}
			}
			.field-group-fieldset {
				h3 {
					margin-bottom: 0;
				}
			}
			p {
				margin-top: 0;
			}
			.group-personal-info {
				float: left;
				width: 50%;
			}
			.group-contact-info {
				float: right;
			}
			.group-goals-progress, .group-bio-interests {
				clear: both;
			}
			.field-name-ds-user-picture {
				float: left;
				margin-right: 20px;
				width: 100px;
			}
			.field-name-full-name {
				font-weight: bold;
				p {
					margin: 0;
				}
			}
			.field-name-field-goals {
				.field-label {
					text-transform: uppercase;
				}
				.field-items {
					.field-item {
						.entity {
							margin-bottom: 10px;
							.field-label {
								text-transform: none;
							}
						}

					}
				}
			}
			.field-name-field-practice .field-item {
				.field-label {
					width: auto;
				}
			}
		}
		.my-goals-details {
			.item-list {
				li {
					margin-bottom: 1em;
					&:before {
						content: "";
						display: block;
						height: 1px;
					}
					.field-collection-container, .field-collection-view {
						border: none;
					}
					> .field-collection-view {
						border-bottom: 1px #D3D7D9 solid;
					}
				}
			}
		}
		.view-my-readings {
			.views-label-field-assignments-readings {
				text-transform: uppercase;
				display: block;
				margin-bottom: 10px;
			}
			.field-name-field-ar-title {
				font-weight: bold;
				margin-bottom: 5px;
			}
			.field-items {
				.field-item {
					margin-bottom: 5px;
				}
			}
			.views-label {
				font-weight: bold;
			}
			.media-youtube-player {
				width: 100%;
			}
			ul {
				margin: 0;
				padding: 0;
				li {

				}
			}
		}
		.participants-search {
			.item-list {
				.views-row {
					margin-bottom: 20px;
					padding-bottom: 20px;
					border-bottom: 1px #bbb solid;
					.views-field-name {
						font-weight: bold;
					}
				}
			}
		}
		.participants-list {
			.views-row {
				margin: 0;
			}
		}

	}
	#content {
		.inner {
			border-left: 1px #BBB solid;
			padding-left: 20px;
		}

		.node .block-views .views-row { margin-bottom:10px; padding-bottom:10px; border-bottom:1px #BBB solid; }
		.field-name-og-group-ref { 
			position:absolute; top:-5px; 
			a { display:inline-block; margin:0px; font-size:11px; font-weight:normal; color:#fff; 
				text-transform:uppercase; background-color:$dark-blue; letter-spacing:1px; padding:5px 10px; }
			a:hover { background-color:$text-blue; }
		}
		.view-mor-og-content {
			.view-filters { display:none; }
			.views-row { border-bottom: 1px #BBB solid; margin-bottom:20px; padding-bottom:20px; }
		}
		.view-portal-calendar {
			.date-nav.item-list {
				margin: 0;
				padding: 0;
				.date-next, .date-prev {
					padding: 5px 10px;
					a {
						margin: 0;
					}
				}
			}
			.inner {
				border: none;
			}
			.views-field {
				.date-display-single, .date-display-range, .date-display-start, .date-display-end {
					font-weight: normal;
				}
				&.views-field-title  {
					font-weight: bold;
				}
			}

			.multi-day {
				.contents {
					font-weight: bold;
				}
			}
		}
		.node-portal-workshop {
			.field-name-field-assignments-readings {
				> .field-items > .field-item {
					border-bottom: $border-gray;
				}
				.field-label {
					font-size: 1.5em;
					font-weight: normal;
					margin-bottom: 10px;
				}
				.field-items {
					.field-item {
						&.even, &.odd {
							margin-bottom: 20px;
						}
						.field-name-field-ar-title {
							font-size: 1.25em;
							font-weight: bold;
							margin-bottom: 10px;
						}
						a {
							font-weight: bold;
						}
						p {
							margin-top: 0;
						}
						.field-name-field-file-image-title-text {
							.field-item {
								font-weight: bold;
								margin: 10px 0 0 0;
							}
						}
						span.file {
							display: block;
							margin-bottom: 5px;
							a {
								font-weight: bold;
							}
						}
					}
				}
			}
		}
		.view-portal-people {
			.item-list {
				margin-bottom: 2em;
				ul {
					li {
						padding-bottom: 10px;
						margin-bottom: 10px;
						border-bottom: 1px #bbb solid;
					}
				}
				.views-field-picture {
					float: left;
					margin-right: 20px;
				}
				.views-field-name {
					font-weight: bold;
				}
				.views-field-field-user-bio {
					margin-top: 10px;
					p {
						margin: 0;
					}
				}
			}
		}
	}
	.region-sidebar-second {
		.block-stickynote {
			#stickynote-list {
				ul, li {
					margin: 0;
					padding: 0;
					list-style: none;
				}
			}
			form {
				&.hidden {
					.form-item, .form-submit {
						//display: none;
					}
				}
			}
		}
	}
	#footer {
		display: none;
	}
	@media all and (min-width: 901px) {
		$zen-column-count: 12 !global;
		&.two-sidebars {
			#content {
				@include zen-grid-item(7, 4);
			}
			.region-sidebar-first {
				@include zen-grid-item(3, 1);
			}
			.region-sidebar-second {
				@include zen-grid-item(2, 11);
			}
		}
	}
}
#block-views-og-post-reflection-block-1 { 
	position:absolute; right:0px; 
}


// keystone habits styling

.block-keystone-habits, .keystone-habits-list {
	a {
		font-weight: bold;
	}
	label {
		display: inline-block;
	}
	div {
		margin-bottom: 5px;
	}
	.week {
		font-weight: bold;
	}
	.note {
		font-style: italic;
	}
	.edit {
		text-align: right;
	}
}
.keystone-habits-list {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			border-bottom: 1px #D3D7D9 solid;
			margin: 10px 0;
			padding: 10px 0;
		}
	}
}
.block-keystone-habits {
	select {
		width: 100%;
	}
}